<!DOCTYPE html>
<html>

  <head>
    <title><%= @page_title %></title>
  </head>

  <body>
    <h1 class="banner">The R4R Music Store</h1>
    <%= @content_for_layout %>
    <hr/>
    <p>Copyright &copy; 2016, R4RMusic</p>
  </body>

</html>
